<h3>Привет {{user}}</h3>
<p>Вам открыт доступ на учебный портал «Петрович Адаптация»</p>
<a href="http://chinatruckspb.ru">http://chinatruckspb.ru</a>
<p>Логин: {{email}}</p>
<p>Пароль: {{password}}</p>
<p>Желаем приятного обучения на Adaptation petrovich. Спасибо!</p>